<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PotionMaker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let potion of potions; let i = index;">
    <ion-card-header>
      <ion-card-title>{{potion.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Enabled</ion-label>
        <ion-checkbox
          slot="end"
          [(ngModel)]="potion.enabled"
        ></ion-checkbox>
      </ion-item>
      <ion-item *ngIf="potion.enabled">
        <ion-input
          type="number"
          label="Duration"
          placeholder="Duration"
          [(ngModel)]="potion.duration"
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="potion.enabled">
        <ion-input
          type="number"
          label="Amplifier"
          placeholder="Amplifier"
          [(ngModel)]="potion.amplifier"
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="potion.enabled">
        <ion-checkbox [(ngModel)]="potion.particles">Particles</ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="generateCommand()"
    >Generate Command</ion-button
  >
  <ion-card *ngIf="command != ''">
    <ion-card-header>
      <ion-card-title>Generated Command</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>{{command}}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
